In [1]:
import pandas as pd

f_mcode_url = r"C:\Users\Drakharys\Desktop\JustLearning\MUSIC\subject-info_codes.csv"

f_codes = pd.read_csv(f_mcode_url, sep=';', encoding='latin1') # El archivo estña codificado como latin1, algun excel antiguo

f_codes.head()

,Variable,Column,Notes,Codes
0,Exit of the study,D,Cause of exit from the study,0: survivor;
1,NaN,NaN,NaN,1: lost to follow-up;
2,NaN,NaN,NaN,2: cardiac transplantation;
3,NaN,NaN,NaN,3: Death;
4,NaN,NaN,NaN,According to closing date of the study

In [2]:
# Expando la variable a cada uno de los códigos para quitarme los NaN
f_codes['Variable'] = f_codes['Variable'].fillna(method='ffill')

f_codes.head(10)

,Variable,Column,Notes,Codes
0,Exit of the study,D,Cause of exit from the study,0: survivor;
1,Exit of the study,NaN,NaN,1: lost to follow-up;
2,Exit of the study,NaN,NaN,2: cardiac transplantation;
3,Exit of the study,NaN,NaN,3: Death;
4,Exit of the study,NaN,NaN,According to closing date of the study
5,Cause of death,E,Cause of death,0: survivor;
6,Cause of death,NaN,NaN,1: non-cardiac death;
7,Cause of death,NaN,NaN,3: SCD;
8,Cause of death,NaN,NaN,6-7: Pump-failure death;
9,Cause of death,NaN,NaN,According to closing date of the study

In [3]:
# Creo nuevas columnas a partir de la columna 'Codes', manejando valores NaN y usando directamente expand
f_codes[['Código', 'Descripción']] = (
    f_codes['Codes']
    .dropna() 
    .str.split(':', expand=True)  
)

# Elimino espacios en las nuevas columnas
f_codes['Código'] = f_codes['Código'].str.strip()
f_codes['Descripción'] = f_codes['Descripción'].str.strip('; ').str.strip()

print(f_codes.head(10))

            Variable Column                         Notes  \
0  Exit of the study      D  Cause of exit from the study
1  Exit of the study    NaN                           NaN
2  Exit of the study    NaN                           NaN
3  Exit of the study    NaN                           NaN
4  Exit of the study    NaN                           NaN
5     Cause of death      E                Cause of death
6     Cause of death    NaN                           NaN
7     Cause of death    NaN                           NaN
8     Cause of death    NaN                           NaN
9     Cause of death    NaN                           NaN

                                    Codes  \
0                           0: survivor;
1                 1: lost to follow-up;
2            2: cardiac transplantation;
3                              3: Death;
4  According to closing date of the study
5                           0: survivor;
6                 1: non-cardiac death;
7                                3: SCD;
8               6-7: Pump-failure death;
9  According to closing date of the study

                                   Código              Descripción
0                                       0                 survivor
1                                       1        lost to follow-up
2                                       2  cardiac transplantation
3                                       3                    Death
4  According to closing date of the study                     None
5                                       0                 survivor
6                                       1        non-cardiac death
7                                       3                      SCD
8                                     6-7       Pump-failure death
9  According to closing date of the study                     None

In [4]:
# Me cargo las columnas originales innecesarias
f_codes = f_codes.drop(columns=['Column', 'Notes', 'Codes'])

f_codes.head(10)

,Variable,Código,Descripción
0,Exit of the study,0,survivor
1,Exit of the study,1,lost to follow-up
2,Exit of the study,2,cardiac transplantation
3,Exit of the study,3,Death
4,Exit of the study,According to closing date of the study,None
5,Cause of death,0,survivor
6,Cause of death,1,non-cardiac death
7,Cause of death,3,SCD
8,Cause of death,6-7,Pump-failure death
9,Cause of death,According to closing date of the study,None

In [5]:
# Quito esos encabezados de according...
f_codes = f_codes[~f_codes['Código'].str.contains('According to closing date of the study', na=False)]

f_codes.head(10)

                   Variable Código                        Descripción
0         Exit of the study      0                           survivor
1         Exit of the study      1                  lost to follow-up
2         Exit of the study      2            cardiac transplantation
3         Exit of the study      3                              Death
5            Cause of death      0                           survivor
6            Cause of death      1                  non-cardiac death
7            Cause of death      3                                SCD
8            Cause of death    6-7                 Pump-failure death
10  HF etiology - Diagnosis      1  Idiopathic dilated cardiomyopathy
11  HF etiology - Diagnosis      2    Ischemic dilated cardiomyopathy

In [6]:
# Guardo en un nuevo archivo
output_path = r"C:\Users\Drakharys\Desktop\JustLearning\MUSIC\subject-info_codigos.csv"
f_codes.to_csv(output_path, index=False, sep=';', encoding='utf-8')

print(f"Archivo guardado en: {output_path}")

Archivo guardado en: C:\Users\Drakharys\Desktop\JustLearning\MUSIC\subject-info_codigos.csv