In [1]:
import pandas as pd

f_minfo_url = r"C:\Users\Drakharys\Desktop\JustLearning\MUSIC\subject-info.csv"

f_info = pd.read_csv(f_minfo_url, sep=';', encoding='latin1') # El archivo estña codificado como latin1, algun excel antiguo

f_info.head()

,Patient ID,Follow-up period from enrollment (days),days_4years,Exit of the study,Cause of death,SCD_4years SinusRhythm,HF_4years SinusRhythm,Age,Gender (male=1),Weight (kg),...,Unnamed: 172,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181
0,P0001,2065,1460,NaN,0,0,0,58,1,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P0002,2045,1460,NaN,0,0,0,58,1,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P0003,2044,1460,NaN,0,0,0,69,1,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P0004,2044,1460,NaN,0,0,0,56,0,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P0005,2043,1460,NaN,0,0,0,70,1,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Elimino las columnas vacías
f_info = f_info.loc[:, ~f_info.columns.str.contains('^Unnamed')]

f_info.head()

,Patient ID,Follow-up period from enrollment (days),days_4years,Exit of the study,Cause of death,SCD_4years SinusRhythm,HF_4years SinusRhythm,Age,Gender (male=1),Weight (kg),...,Angiotensin-II receptor blocker (yes=1),Anticoagulants/antitrombotics (yes=1),Betablockers (yes=1),Digoxin (yes=1),Loop diuretics (yes=1),Spironolactone (yes=1),Statins (yes=1),Hidralazina (yes=1),ACE inhibitor (yes=1),Nitrovasodilator (yes=1)
0,P0001,2065,1460,NaN,0,0,0,58,1,83,...,0,1,1,1,1,0,0,0,1,0
1,P0002,2045,1460,NaN,0,0,0,58,1,74,...,1,1,1,0,0,0,1,0,0,0
2,P0003,2044,1460,NaN,0,0,0,69,1,83,...,1,1,1,1,1,0,0,0,0,0
3,P0004,2044,1460,NaN,0,0,0,56,0,84,...,1,1,1,0,1,1,0,0,0,0
4,P0005,2043,1460,NaN,0,0,0,70,1,97,...,0,1,1,0,1,0,1,0,1,1

In [3]:
# Guardo en un nuevo archivo
output_path = r"C:\Users\Drakharys\Desktop\JustLearning\MUSIC\subject-info_mod.csv"
f_info.to_csv(output_path, index=False, sep=';', encoding='utf-8')

print(f"Archivo guardado en: {output_path}")

Archivo guardado en: C:\Users\Drakharys\Desktop\JustLearning\MUSIC\subject-info_mod.csv